.form-container-prod {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
}

input {
    margin-bottom: 0.5rem;
}

.destacados {
    margin-bottom: 50px;
	text-align: center;
}

.destacados h2 {
	color: #1c1c1c;
    font-family: "Cairo", sans-serif;
	font-size: 36px;
	position: relative;
    font-weight: bold;
}
.destacados h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}