/*body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}*/

.page-nav {
    background-color: #ddf525;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

.page-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
}

.product-container {
    border-radius: 20px;
    margin: 50px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 200px;
}

.product-container h1,
.product-container h2,
.product-container h3,
.product-container h4,
.product-container h5,
.product-container h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

.product-container h1 {
	font-size: 70px;
}

.product-container h2 {
	font-size: 36px;
}

.product-container h3 {
	font-size: 30px;
}

.product-container h4 {
	font-size: 24px;
}

.product-container h5 {
	font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.product-container h6 {
	font-size: 16px;
    text-align: center;
}

.product-container button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

/*.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    /*transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    /*color: white;
}

.button-add.disabled {
    background-color: white;
    color: black;
    border: 2px solid #9e9e9e; 
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add.disabled:hover {
    background-color: #9e9e9e; 
    color: white;
}*/

.images {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 300px;
    height: 300px;
}

.banner {
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100%;
    height: 300px;
}

.destacados {
    margin-bottom: 50px;
	text-align: center;
    float: left;
    width: 100%;
    height: 700px;
    border-radius: 100px;
}

.destacados h2 {
	color: #1c1c1c;
    font-family: "Cairo", sans-serif;
	font-size: 36px;
	position: relative;
    font-weight: bold;
}

.destacados h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}